#coments-container {
    padding-top: 15px;
    width: 100%;
    overflow:auto;
    height: 300px;
}
.placedetails section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

fieldset {
    width: 35%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

legend {
    padding:5px;
    text-align:center;
    font-size: 1.5em;
}

@media screen and (-ms-view-state: snapped) {
    .placedetails section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .placedetails section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}