.homepage section[role=main] {
    margin-left: 80px;
    margin-right: 86px;
}

.placeVisited {
    background-color: #96A191;
    width: 100%;
    height: 100%;
 }

.place-tile {
     width: 300px;
     height: 100px;
}

    .place-tile > div {
         padding: 5px;
    }

.win-listview 
{
    height: 85%; 
}


.win-container {
    background-color: #76B5C6;
}

/*win-template win-item*/

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}
