<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="40345boyan.palagachev.TouristSightsOfBulgaria" Version="1.0.0.12" Publisher="CN=421F176B-343F-446F-8865-C6364287856F" />
  <Properties>
    <DisplayName>Tourist Sights Of Bulgaria</DisplayName>
    <PublisherDisplayName>boyan.palagachev</PublisherDisplayName>
    <Logo>images\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Tourist Sights Of Bulgaria" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="BulgarianNationalTouristSights" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" ShortName="Places in Bulgaria" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>