.usersl section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

fieldset {
    padding: 15px;
    width: 45%;
    margin: 0 auto;
}

legend {
    padding:5px;
    text-align:center;
    font-size: 1.5em;
}

fieldset input[type=text],  fieldset input[type=password]{
    width: 95%;
}

table {
    width: 100%;
}

#login-loading, #register-loading {
    display: none;
}



@media screen and (-ms-view-state: snapped) {
    .usersl section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .usersl section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}