body {
 background-color: #383838;
}

.ok-status {
    color: green;
}

.error-status {
    color: red;
}


.win-listview {
    overflow: hidden;
    height: 85%;
}

    .win-listview .win-item {
        margin: 5px;
        overflow: hidden;
        position: absolute;
    }

.win-container.win-selected .win-selectionborder {
    border-width: 4px;
    border-style: solid;
}

.loading {
    text-align: center;
    margin: auto auto;
    width: 80%;
    height: 100%;
}

    .loading progress {
        margin: 0 auto;
        width: 100%;
    }

    .loading div {
        margin: 0 auto;
    }

#page-loading div {
    font-size: 2em;
}



#contenthost {
    margin: 0 0;
    height: 100%;
    width: 100%;
}

.fragment {
    /* Define a grid with rows for a banner and a body */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 128px 1fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {
        /* Define a grid with columns for the back button and page title. */
        -ms-grid-columns: 39px 81px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }

        .fragment header[role=banner] .win-backbutton {
            -ms-grid-column: 2;
            margin-top: 59px;
        }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 3;
            margin-top: 37px;
        }

            .fragment header[role=banner] .titlearea .pagetitle {
                width: calc(100% - 20px);
            }

    .fragment section[role=main] {
        -ms-grid-row: 2;
        height: 100%;
        width: 94.07%;
    }

@media screen and (-ms-view-state: snapped) {
    /*.fragment header[role=banner] {
        -ms-grid-columns: auto 1fr;
        margin-left: 15px;
        margin-right: 15px;
    }

        .fragment header[role=banner] .win-backbutton {
            -ms-grid-column: 1;
            margin-bottom: 0;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 76px;
        }

            .fragment header[role=banner] .win-backbutton:disabled {
                display: none;
            }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 2;
            margin-bottom: 0;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 68px;
        }*/
    #contenthost {
        margin: 0 0px;
        height: 100%;
        width: 100%;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .fragment header[role=banner] {
        -ms-grid-columns: 29px 71px 1fr;
    }
}
