#place-datails {
    width: 90%;
}

#coments-container {
    padding-top: 15px;
    width: 80%;
    height: 55%;
    overflow:auto;
}
.placedetails section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

fieldset {
    width: 50%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

textarea {
    width: 90%;
}

legend {
    padding:5px;
    text-align:center;
    font-size: 1.5em;
}

#comments-textarea {
    margin: 0 auto;
    width: 93%;
    margin-bottom: 10px;
}

@media screen and (-ms-view-state: snapped) {
    .placedetails section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .placedetails section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}